<% if @team.projects.size > 0 %>
	<!-- //TODO: this should render the regular projects table -->
  <table class="projects">

    <thead>
      <tr>
          <th class="projectInfo" colspan="2">Project Info</th>
          <th class="projectInfo" colspan="5">Open Defects</th>
      </tr>

      <tr>
        <th>Name</th>
        <th>TFS Path</th>
        <th>Week Ending</th>
        <th>Critical</th>
        <th>High</th>
        <th>Medium</th>
        <th>Low</th>
      </tr>

    </thead>

    <tbody>

  <% @team.projects.each do |project| %>
    <% open_defects = current_open_defects_for_project(project).first %>
      
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= project.tfs_path %></td>
        <td class="week_ending"><%= open_defects.week_ending %></td>
        <td class="defect_count"><%= open_defects.critical %></td>
        <td class="defect_count"><%= open_defects.high %></td>
        <td class="defect_count"><%= open_defects.medium %></td>
        <td class="defect_count"><%= open_defects.low %></td>
      </tr>

  <% end %>

	</table>

<% else %>
	no projects
<% end %>

