

<table class="open_defects">

  <thead>
    <tr>
      <th class="open_defects">Project</th>
      <th class="open_defects">Week Ending</th>
      <th class="open_defects">Critical</th>
      <th class="open_defects">High</th>
      <th class="open_defects">Medium</th>
      <th class="open_defects">Low</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>

  <% open_defects.each do |week| %>
  <% project = Project.find(week.project_id) %>
  
    <tr>
      <td class="project"><%= link_to project.name, project_path(project) %></td>
      <td class="week_ending"><%= week.week_ending %></td>
      <td class="defect_count"><%= week.critical %></td>
      <td class="defect_count"><%= week.high %></td>
      <td class="defect_count"><%= week.medium %></td>
      <td class="defect_count"><%= week.low %></td>
      <td class="actions"><%= link_to "edit", edit_open_defect_path(week) %></td>
    </tr>

  <% end %>

  </tbody>
</table>
