<tr>
<td class="week_ending"><%= open_defects.week_ending %></td>
<td class="defect_count"><%= open_defects.critical %></td>
<td class="defect_count"><%= open_defects.high %></td>
<td class="defect_count"><%= open_defects.medium %></td>
<td class="defect_count"><%= open_defects.low %></td>
<td class="actions"><%= link_to "edit", edit_open_defect_path(open_defects) %></td>
</tr>