<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tfs_path %><br />
    <%= f.text_field :tfs_path %>
  </div>
  <div class="field">
    <%= f.label 'Team' %><br />
    <%= f.collection_select :team_id, Team.all, :id, :name, :prompt => true, :selected => selected?(params[:team]) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
