<table class="open_defects">
  
  <thead>
    <tr>
      <th class="openDefectsInfo" colspan="6">Open Defects</th>
    </tr>
    <tr>
      <th>Week Ending</th>
      <th>Critical</th>
      <th>High</th>
      <th>Medium</th>
      <th>Low</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>

  <% open_defects.each do |report| %>
  
    <tr>
      <td class="week_ending"><%= report.week_ending %></td>
      <td class="defect_count"><%= report.critical %></td>
      <td class="defect_count"><%= report.high %></td>
      <td class="defect_count"><%= report.medium %></td>
      <td class="defect_count"><%= report.low %></td>
      <td class="defect_count defect_total"><%= report.critical + report.high + report.medium + report.low %></td>
    </tr>

  <% end %>

  </tbody>
</table>
