<p id="notice"></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Tfs path:</b>
  <%= @project.tfs_path %>
</p>

<p>
  <b>Team:</b>
  <%= @project.team_id %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
